.app-container {
  display: flex;
}

.page-link {
  width: 100px;
  background-color: lightblue;
  margin: 5px;
}

.z-9999 {
  z-index: 9999;
}

.add-new-page-link {
  position: absolute;
  top: 10px;
  right: 218px;
  color: white;
  font-size: 20px;
}

.my-pages{
  padding-top: 10px;
  margin: 10px;
}
